# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
include:
- template: SAST.gitlab-ci.yml
- template: Dependency-Scanning.gitlab-ci.yml
- template: License-Scanning.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml
- template: Security/Container-Scanning.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
- project: 'renovate-bot/renovate-runner'
  file: '/templates/renovate-dind.gitlab-ci.yml'

image: python:3.10
before_script:
- python --version
- pip install -r requirements.txt
stages:
- build
- test
- deploy
- dast
flake8:
  stage: test
  allow_failure: true
  script:
  - flake8  --ignore=F841 --show-source --max-line-length=120 *.py
pylint:
  stage: test
  allow_failure: true
  script:
  - pylint -d C0301 *.py
sast:
  stage: test
