aiohttp==3.7.4
aiosqlite==0.17.0
discord.py==1.7.3
feedparser==6.0.8
flake8==3.8.3
html2text==2020.1.16
in-place==0.4.0
mypy==0.780
pylint==1.6.5
python-dateutil==2.8.2
pytz==2020.5
requests==2.23.0
six==1.15.0
ws4py==0.5.1
